
body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: beige;
    color: black;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
#uploadedImage {
    display: none;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 25px;
}
#response {
    margin-top: 20px;
    color: grey;
}
input[type="file"], input[type="submit"] {
    background-color: dark-grey;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 20px;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.5s;
    font-size: 2rem;
    border-color: bisque;
}
input[type="submit"]:hover {
    background-color: grey;
}

ul {
    z-index: -1;
    position: relative;
    background-color: rgb(187, 182, 182);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(113, 105, 105, 0);
    opacity: 0.5;
    border-radius: 40px;
}